/*developing*/
.container-fluid{
	/*background-color: yellow;*/
}

.col-md-12{
	padding-left: 0;
	padding-right: 0;
}


.col-md-4{
	border-style: solid;
	border-width: 3px;
	border-color: green;

	padding-left: 0;
	padding-right: 0;
}

.col-md-2{
/*	border-style: solid;
	border-width: 3px;
	border-color: red;*/

	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
	max-height: 300px;
	min-height: 300px;
	max-width: 200px;
	min-width: 200px;

}

.movies-container{

	/*border-style: solid;
	border-width: 3px;
	border-color: yellow;*/

}

.movie-row{
/*	border-style: solid;
	border-width: 3px;
	border-color: blue;*/

	overflow: hidden;
	text-align: center;
}

.row-container{
/*	border-style: solid;
	border-width: 3px;
	border-color: pink;*/

	display: inline-block;

}

.movie-cover-img{
	width: 100%;

/*    max-width:200px;
    max-height: 300px;

    height: auto;*/

}

.darken {
    background-color: black;
    padding: 0;
    
}

.darken img {    
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

.darken:hover img {
    opacity: 0.5;           
}
.darken span{
	left: 0;
	position:absolute;
	color:#fff;
	visibility: hidden;
	cursor: default;
	width: 100%;	

	padding-left: 10px;
	padding-right: 10px;

/*	border-style: solid;
	border-width: 3px;
	border-color: blue;*/

}
.darken:hover span{

    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
            visibility: visible;
}


.darken .movie-title-main{
	top: 10%;
}
.darken .directors{
	top:40%;
}
.darken .description{
	top:50%;
}
.darken .rating{
	top:65%;
}
.darken .commentNum{
	top:75%;
}
.darken .rating-bar-block{
	top:70%;
}

.darken .rating-bar{
	border-radius: 0;
	width: 50%;
	display: inline-block;

	
}



/*//developing*/




/*media queries*/

/*@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }*/

/*//media queries*/