/*developing*/
#movies-container {
    visibility: hidden;
}
#loading {
	visibility: visible;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 1000vh;
    background-color: rgba(255, 255, 255, 1);
    background-image: url("../image/loading.gif");
    background-repeat: no-repeat;
    background-position: center top;
}



#whole-page-container{
	padding-top: 70px; /*for nav bar*/
}
#navbar-logo{
	width: auto;
	height: 100%;
}

.navbar, .dropdown-menu, .login-btn {
	background: rgba(255,255,255,0.8);
}


.container-fluid{
	/*background-color: yellow;*/
}

.col-md-12{
	padding-left: 0;
	padding-right: 0;
}


.col-md-4{
	border-style: solid;
	border-width: 3px;
	border-color: green;

	padding-left: 0;
	padding-right: 0;
}

.col-md-2{
/*	border-style: solid;
	border-width: 3px;
	border-color: red;*/

	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
	max-height: 300px;
	min-height: 300px;
	max-width: 200px;
	min-width: 200px;

}

.movies-container{

	/*border-style: solid;
	border-width: 3px;
	border-color: yellow;*/

}

.movie-row{
/*	border-style: solid;
	border-width: 3px;
	border-color: blue;*/

	overflow: hidden;
	text-align: center;
}

.row-container{
/*	border-style: solid;
	border-width: 3px;
	border-color: pink;*/

	display: inline-block;

}

.movie-cover-img{
	width: 100%;

/*    max-width:200px;
    max-height: 300px;

    height: auto;*/

}

.darken {
    background-color: black;
    padding: 0; 
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;      
}


.darken .movie-cover-img {   
	cursor: default; 
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

.darken:hover .movie-cover-img {
	opacity: 0.5; 
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.darken:hover .movie-cover-img:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}



.darken span{
	left: 0;
	position:absolute;
	color:#fff;
	visibility: hidden;
	width: 100%;	
	cursor: default;
	padding-left: 10px;
	padding-right: 10px;

/*	border-style: solid;
	border-width: 3px;
	border-color: blue;*/


}
.darken:hover span{

	left:0px; /*move back to normal position*/

    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            visibility: visible;
}


.darken .movie-title-main{
	left: -200px;

	top: 15%;
	font-size: 30px;
	font-weight: 500;
}
.darken .description{
	left: 200px;

	top:50%;
}
.darken .rank-num{

	top:2%;
}
.darken .rating-bar-block{

	top:120%;
}
.darken:hover .rating-bar-block{

	top:80%;
}

.darken .rating-bar{
	border-radius: 0;
	width: 50%;
	display: inline-block;
	
}
.darken .rank-num{
	top:2%;
	text-align: left;
}
.darken .badge{
	background-color: green;
}

.darken .add-img-container{
	top:30%;
	
}
.darken .add-img-container .add-img{
	width: 100px;
	height: 100px;
	visibility: hidden;

	opacity: 0;	
}
.darken.adding .add-img-container .add-img{
	visibility: visible;

    -webkit-animation: fadeInFromNone 1s ease-in-out;
       -moz-animation: fadeInFromNone 1s ease-in-out;
         -o-animation: fadeInFromNone 1s ease-in-out;
            animation: fadeInFromNone 1s ease-in-out;
	
}
.darken .delete-img-container{
	top:30%;
	
}
.darken .delete-img-container .delete-img{
	width: 100px;
	height: 100px;
	visibility: hidden;

	opacity: 0;	
}
.darken.deleting .delete-img-container .delete-img{
	visibility: visible;

    -webkit-animation: fadeInFromNone 1s ease-in-out;
       -moz-animation: fadeInFromNone 1s ease-in-out;
         -o-animation: fadeInFromNone 1s ease-in-out;
            animation: fadeInFromNone 1s ease-in-out;
	
}
.darken.deleting-add .add-img-container{
	top:74%;
	left: 33%;

    -webkit-animation: minirizedOut 1s linear;
       -moz-animation: minirizedOut 1s linear;
         -o-animation: minirizedOut 1s linear;
            animation: minirizedOut 1s linear;

}
.darken.deleting-add .add-img-container .add-img{


	visibility: visible;

	opacity: 0.7;	
}

.darken.seen .add-img-container{

	top:74%;
	left: 33%;
	-webkit-animation: moveToCorner 0.3s linear;
	   -moz-animation: moveToCorner 0.3s linear;
	     -o-animation: moveToCorner 0.3s linear;
	        animation: moveToCorner 0.3s linear;
	
}
.darken.seen .add-img-container .add-img{



	visibility: visible;

	opacity: 0.7;	
}

/*add icon minirized*/

@-webkit-keyframes minirizedOut {
      0% {transform:scale(0);}
     50% {transform:scale(1.5);}
	100% {transform:scale(0.1);}
}

@-moz-keyframes minirizedOut {
      0% {transform:scale(0);}
     50% {transform:scale(1.5);}
	100% {transform:scale(0.1);}
}

@-o-keyframes minirizedOut {
      0% {transform:scale(0);}
     50% {transform:scale(1.5);}
	100% {transform:scale(0.1);}
}

@keyframes minirizedOut {
      0% {transform:scale(0);}
     50% {transform:scale(1.5);}
	100% {transform:scale(0.1);}
}

/*//add icon minirized*/


/*add move to corner animation*/

@-webkit-keyframes moveToCorner {
      0% {top:30%;left:0%;}
     50% {top:52%;left:16.5%;}
	100% {top:74%;left:33%;}
}

@-moz-keyframes moveToCorner {
      0% {top:30%;left:0%;}
     50% {top:52%;left:16.5%;}
	100% {top:74%;left:33%;}
}

@-o-keyframes moveToCorner {
      0% {top:30%;left:0%;}
     50% {top:52%;left:16.5%;}
	100% {top:74%;left:33%;}
}

@keyframes moveToCorner {
      0% {top:30%;left:0%;}
     50% {top:52%;left:16.5%;}
	100% {top:74%;left:33%;}
}

/*//add move to corner animation*/



/*add/delete icon fadeIn animation*/

@-webkit-keyframes fadeInFromNone {
    0% {opacity: 1;transform: scale(4.0);}
    50% {opacity: 0.7;}
	100% {opacity: 0.5;}
}

@-moz-keyframes fadeInFromNone {
    0% {opacity: 1;transform: scale(4.0);}
    50% {opacity: 0.7;}
	100% {opacity: 0.5;}
}

@-o-keyframes fadeInFromNone {
    0% {opacity: 1;transform: scale(4.0);}
    50% {opacity: 0.7;}
	100% {opacity: 0.5;}
}

@keyframes fadeInFromNone {
    0% {opacity: 1;transform: scale(4.0);}
    50% {opacity: 0.7;}
	100% {opacity: 0.5;}
}
/*//add/delete icon fadeIn animation*/





/*//developing*/




/*media queries*/

/*@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }*/

/*//media queries*/